.App {
  margin-left: 30px;
}

.slider-wrapper {
  position: relative;
}

.custom-prev, .custom-next {
  position: absolute;
  z-index: 2;
  bottom: 50%;
  background: transparent;
  border: 0;
  transform: translateY(-50%);
}
.custom-prev {
  left: 0;
}

.custom-next {
  right: 0;
}

.thumbnail-slider-wrap {
  margin-top: 3px;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}